<div class="container mt-3 altezza">
  <h1 class="text-center my-5 fw-bold">Categorie:</h1>


  <div class="row d-flex justify-content-between">

    <div
      class="col-12 col-sm-6 col-lg-4 d-flex flex-row align-items-center mx-auto mx-md-0  puntatore_link justify-content-center bordo_destro_variabile_1 bordo_superiore_1 hover_viola "
      routerLink="/chitarre">
      <img src="../../assets/immagini categorie/categoria_chitarre.jpg" class="card-img-start" alt="categoria chitarre">
      <div class="card-title pe-3 fw-bold fs-5">Chitarre</div>

    </div>

    <div
      class="col-12 col-sm-6 col-lg-4 d-flex flex-row align-items-center mx-auto mx-md-0 puntatore_link justify-content-center bordo_destro_variabile_2 bordo_superiore_1 hover_viola "
      routerLink="/bassi" style="height:151px;">
      <img src="../../assets/immagini categorie/categoria_bassi.png" class="card-img-start" alt="categoria bassi">
      <div class="card-title pe-3 fw-bold fs-5">Bassi</div>

    </div>

    <div
      class="col-12 col-sm-6 col-lg-4 d-flex flex-row align-items-center mx-auto mx-md-0 puntatore_link justify-content-center bordo_destro_variabile_3 bordo_superiore_2 hover_viola "
      routerLink="/batterie">
      <img src="../../assets/immagini categorie/categoria_percussioni.jpg" class="card-img-start"
        alt="categoria batterie">
      <div class="card-title pe-3 fw-bold fs-5">Batterie</div>

    </div>

    <div
      class="col-12 col-sm-6 col-lg-4 d-flex flex-row align-items-center mx-auto mx-md-0 puntatore_link justify-content-center  bordo_destro_variabile_2 hover_viola "
      routerLink="/tastiere">
      <img src="../../assets/immagini categorie/categoria_tastiere.jpg" class="card-img-start" alt="categoria tastiere">
      <div class="card-title pe-3 fw-bold fs-5">Tastiere</div>

    </div>

    <div
      class="col-12 col-sm-6 col-lg-4 d-flex flex-row align-items-center mx-auto mx-md-0 puntatore_link justify-content-center  bordo_destro_variabile_1 hover_viola "
      routerLink="/microfoni">
      <img src="../../assets/immagini categorie/categoria_microfoni.jpg" class="card-img-start"
        alt="categoria microfoni">
      <div class="card-title pe-3 fw-bold fs-5">Microfoni</div>

    </div>

    <div
      class="col-12 col-sm-6 col-lg-4 d-flex flex-row border-bottom align-items-center mx-auto mx-md-0 puntatore_link justify-content-center hover_viola "
      routerLink="/luci">
      <img src="../../assets/immagini categorie/categoria_luci.jpg" class="card-img-start" alt="categoria luci">
      <div class="card-title pe-3 fw-bold fs-5">Luci</div>

    </div>


  </div>

  <h2 class="text-center mt-5  fw-bold">Articoli In Evidenza</h2>
  <div id="carouselExampleDark" class="carousel carousel-dark slide my-2">
    <div class="carousel-indicators" id="indicatori_carosello">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="8" aria-label="Slide 9"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="9" aria-label="Slide 10"></button>
    </div>
    <div class="carousel-inner">
      <div *ngFor="let e of scelti let i=index" [ngClass]="{'active': i == 0 }" class="carousel-item"
        data-bs-interval="10000">

        <img (click)="dettaglio(e.id)" src="{{e.immagine.slice(0,-12)+'.jpg'}}"
          class="d-block mx-auto my-auto align-bottom w-50 puntatore_link" alt="..." id="immagine_carosello">

        <div class="carousel-caption d-none d-md-block">
          <h5>{{e.marca}}</h5>
          <p>{{e.modello}}</p>
        </div>
      </div>
    </div>
    <div id="bottoni_carosello">
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#7e00f3"
          class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
          <path
            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
        </svg>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#7e00f3"
          class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
          <path
            d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
        </svg>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>

  <h2 class="text-center my-5  fw-bold">Le vostre opinioni</h2>
  <div class="row mb-5">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 px-4 mx-sm-0">
      <div class="h-100 card commenti">
        <h5 class="card-title mt-3 text-center puntatore_link">Alfredo</h5>
        <div class="card-body d-flex flex-column justify-content-start">
          <p class="card-text text-center align-content-center puntatore_link">Gavioli mi ha cambiato la vita, felicissimo dei miei acquisti</p>
        </div>
      </div>
    </div>

    <div class="col-12  col-sm-6 col-md-4 col-lg-3 mb-3 px-4 mx-sm-0">
      <div class="h-100 card commenti">
        <h5 class="card-title mt-3 text-center puntatore_link">Damiano</h5>
        <div class="card-body d-flex flex-column justify-content-start">
          <p class="card-text text-center align-content-center puntatore_link">Gavioli è forte, le sue chitarre di più</p>
        </div>
      </div>
    </div>

    <div class="col-12  col-sm-6 col-md-4 col-lg-3 mb-3 px-4 mx-sm-0">
      <div class="h-100 card commenti">
        <h5 class="card-title mt-3 text-center puntatore_link">Francesco</h5>
        <div class="card-body d-flex flex-column justify-content-start">
          <p class="card-text text-center align-content-center puntatore_link">Giuro che il mio sito non è gay</p>
        </div>
      </div>
    </div>

    <div class="col-12  col-sm-6 d-md-none d-lg-block col-lg-3 mb-3 px-4 mx-sm-0">
      <div class="h-100 card commenti">
        <h5 class="card-title mt-3 text-center puntatore_link">Domenico</h5>
        <div class="card-body d-flex flex-column justify-content-start">
          <p class="card-text text-center align-content-center puntatore_link">Mi piace mangiare pecore</p>
        </div>
      </div>
    </div>

  </div>


</div>
