<div class="container mt-3 altezza">
  <h1 class="text-center my-5  fw-bold">Categorie:</h1>


  <div class="row d-flex justify-content-between">

    <div class="col-12 col-sm-6 col-lg-4 d-flex flex-row align-items-center mx-auto mx-md-0  puntatore_link justify-content-center bordo_destro_variabile_1 bordo_superiore_1 hover_viola " routerLink="/chitarre" >
      <img src="../../assets/immagini categorie/categoria_chitarre.jpg" class="card-img-start" alt="categoria chitarre">
        <div class="card-title pe-3 fw-bold fs-5">Chitarre</div>

    </div>

    <div class="col-12 col-sm-6 col-lg-4 d-flex flex-row align-items-center mx-auto mx-md-0 puntatore_link justify-content-center bordo_destro_variabile_2 bordo_superiore_1 hover_viola "  routerLink="/bassi" style="height:151px;" >
      <img src="../../assets/immagini categorie/categoria_bassi.png" class="card-img-start" alt="categoria bassi">
        <div class="card-title pe-3 fw-bold fs-5" >Bassi</div>

    </div>

    <div class="col-12 col-sm-6 col-lg-4 d-flex flex-row align-items-center mx-auto mx-md-0 puntatore_link justify-content-center bordo_destro_variabile_3 bordo_superiore_2 hover_viola " routerLink="/batterie">
      <img src="../../assets/immagini categorie/categoria_percussioni.jpg" class="card-img-start" alt="categoria batterie">
        <div class="card-title pe-3 fw-bold fs-5">Batterie</div>

    </div>

    <div class="col-12 col-sm-6 col-lg-4 d-flex flex-row align-items-center mx-auto mx-md-0 puntatore_link justify-content-center  bordo_destro_variabile_2 hover_viola " routerLink="/tastiere">
      <img src="../../assets/immagini categorie/categoria_tastiere.jpg" class="card-img-start" alt="categoria tastiere">
        <div class="card-title pe-3 fw-bold fs-5">Tastiere</div>

    </div>

    <div class="col-12 col-sm-6 col-lg-4 d-flex flex-row align-items-center mx-auto mx-md-0 puntatore_link justify-content-center  bordo_destro_variabile_1 hover_viola " routerLink="/microfoni">
      <img src="../../assets/immagini categorie/categoria_microfoni.jpg" class="card-img-start" alt="categoria microfoni">
        <div class="card-title pe-3 fw-bold fs-5">Microfoni</div>

    </div>

    <div class="col-12 col-sm-6 col-lg-4 d-flex flex-row border-bottom align-items-center mx-auto mx-md-0 puntatore_link justify-content-center hover_viola " routerLink="/luci">
      <img src="../../assets/immagini categorie/categoria_luci.jpg" class="card-img-start" alt="categoria luci">
        <div class="card-title pe-3 fw-bold fs-5">Luci</div>

    </div>


  </div>
</div>
