

.puntatore_link{
  cursor: pointer;
}

h1,h2,h5,p{
  cursor: default;
}

.altezza{
  /*position: relative;
  padding-bottom: 10rem;*/
  position: relative;
  padding-bottom: 24rem !important;
  @media screen and (min-width:390px) {
    padding-bottom: 22rem !important;
  }
  @media screen and (min-width:576px) {
    padding-bottom: 15rem !important;
  }
  @media screen and (min-width:768px) {
    padding-bottom: 10rem !important;
  }
}

.hover_viola{
  //effetto angoli border tagliati
  clip-path: polygon(0% 19.5%, 10% 0%, 90% 0%, 100% 19.5%, 100% 82.25%, 90% 100%, 10% 100%, 0% 82.25%);
}

.hover_viola:hover{
  color: #7e00f3 !important;
}

.bordo_destro_variabile_1{
  border-bottom: 1px solid #dee2e6 !important;
  @media screen and (min-width:576px){
    border-right: 1px solid #dee2e6 ;
  }
  @media screen and (min-width:992px){
    border-right: none ;
  }
  @media screen and (min-width:1000px){
    border-right: 1px solid #dee2e6 ;
  }
}

.bordo_destro_variabile_2{
  border-bottom: 1px solid #dee2e6 !important;
  @media screen and (min-width:768px){
    border-right: none ;
  }
  @media screen and (min-width:1000px){
    border-right: 1px solid #dee2e6 ;
  }
}

.bordo_destro_variabile_3{
  border-bottom: 1px solid #dee2e6 !important;

  @media screen and (min-width:576px){
    border-right: 1px solid #dee2e6 ;
  }
  @media screen and (min-width:992px){
    border-right: none;
  }
}

.bordo_sinistro_variabile_1{
  @media screen and (min-width:768px){
    border-left: 1px solid #dee2e6;
  }
}

.bordo_superiore_1{
  @media screen and (min-width:576px){
    border-top: 1px solid #dee2e6 ;
  }
}

.bordo_superiore_2{
  @media screen and (min-width:768px){
    border-top: 1px solid #dee2e6 ;
  }
}

#immagine_carosello{
  width: 200px !important;
  margin-top: 50px !important;
  transition: transform 0.4s;

  &:hover {
    transform: scale(1.08);
  }
  @media screen and (min-width:768px){
    margin-top: 20px !important;
    width: 250px !important;
  }

}

#bottoni_carosello{
margin-bottom: 0 !important;

}

#indicatori_carosello{
  margin-bottom: 6rem !important;
  @media screen and (min-width:768px){
    margin-bottom:0 !important;
  }
}

.carousel-item{
  height: 400px !important;
}

.colore_icona{
  background-color:#7e00f3 !important ;
}

.commenti{
  transition: transform 0.4s;
  &:hover {
    transform: scale(1.08);
  }
}

.carousel-item {
  transition: transform 0.8s ease-in-out !important;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 0.8s !important;
}

