<div class="d-flex justify-content-center altezza_prima">


  <div class="container mt-3 mx-lg-5">

    <!-------------------------------------------------------------------------SEZIONE CHITARRE------------------------------------------------------------------------------------->
    <div *ngIf="path=='chitarre'">

      <div class="container d-flex justify-content-center">
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item puntatore_link">
              <div routerLink="/">Home</div>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Chitarre</li>
          </ul>
        </nav>
      </div>
      <h1 class="text-center">CHITARRE</h1>
      <div class="row d-flex justify-content-between">
        <div
          class="col-12 col-sm-6 col-lg-3 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/chitarre/chitarre_elettriche">
          <img src="../../../assets/immagini categorie/categoria_chitarre/chitarre_elettriche.jpg"
            class="card-img-start" alt="chitarre elettriche">
          <div class="card-title pe-3 fw-bold fs-5">Chitarre Elettriche</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-3 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/chitarre/chitarre_classiche">
          <img src="../../../assets/immagini categorie/categoria_chitarre/chitarre_classiche.jpg" class="card-img-start"
            alt="chitarre classiche">
          <div class="card-title pe-3 fw-bold fs-5">Chitarre Classiche</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-3 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/chitarre/chitarre_acustiche">
          <img src="../../../assets/immagini categorie/categoria_chitarre/chitarre_acustiche.jpg" class="card-img-start"
            alt="chitarre acustiche">
          <div class="card-title pe-3 fw-bold fs-5">Chitarre Acustiche</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-3 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/chitarre/chitarre_da_viaggio">
          <img src="../../../assets/immagini categorie/categoria_chitarre/chitarre_da_viaggio.jpg"
            class="card-img-start" alt="chitarre da viaggio">
          <div class="card-title pe-3 fw-bold fs-5">Chitarre Da Viaggio</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-3 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2 puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/chitarre/amplificatori_chitarre_elettriche">
          <img src="../../../assets/immagini categorie/categoria_chitarre/amplificatori_chitarre_elettriche.jpg"
            class="card-img-start" alt="amplificatori chitarre elettriche">
          <div class="card-title pe-3 fw-bold fs-5">Amplificatori Chitarre Elettriche</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-3 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/chitarre/amplificatori_chitarre_acustiche">
          <img src="../../../assets/immagini categorie/categoria_chitarre/amplificatori_chitarre_acustiche.jpg"
            class="card-img-start" alt="amplificatori chitarre acustiche">
          <div class="card-title pe-3 fw-bold fs-5">Amplificatori Chitarre Acustiche</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-3 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/chitarre/corde">
          <img src="../../../assets/immagini categorie/categoria_chitarre/corde.jpg" class="card-img-start" alt="corde">
          <div class="card-title pe-3 fw-bold fs-5">Corde</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-3 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/chitarre/effetti">
          <img src="../../../assets/immagini categorie/categoria_chitarre/effetti.jpg" class="card-img-start"
            alt="effetti">
          <div class="card-title pe-3 fw-bold fs-5">Effetti</div>
        </div>
      </div>
    </div>

    <!-------------------------------------------------------------------------SEZIONE BASSI------------------------------------------------------------------------------------->
    <div *ngIf="path=='bassi'">
      <div class="container d-flex justify-content-center">
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item puntatore_link">
              <div routerLink="/">Home</div>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Bassi</li>
          </ul>
        </nav>
      </div>
      <h1 class="text-center">BASSI</h1>
      <div class="row d-flex justify-content-center">
        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/bassi/bassi_elettrici">
          <img src="../../../assets/immagini categorie/categoria_bassi/bassi_elettrici.jpg" class="card-img-start"
            alt="bassi elettrici">
          <div class="card-title pe-3 fw-bold fs-5">Bassi Elettrici</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/bassi/bassi_acustici">
          <img src="../../../assets/immagini categorie/categoria_bassi/bassi_acustici.jpg" class="card-img-start"
            alt="bassi acustici">
          <div class="card-title pe-3 fw-bold fs-5">Bassi Acustici</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/bassi/amplificatori_bassi">
          <img src="../../../assets/immagini categorie/categoria_bassi/amplificatori_basso.jpg" class="card-img-start"
            alt="amplificatori basso">
          <div class="card-title pe-3 fw-bold fs-5">Amplificatori Basso</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/bassi/corde">
          <img src="../../../assets/immagini categorie/categoria_bassi/corde.jpg" class="card-img-start"
            alt="corde basso">
          <div class="card-title pe-3 fw-bold fs-5">Corde</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2 puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/bassi/effetti">
          <img src="../../../assets/immagini categorie/categoria_bassi/effetti.jpg" class="card-img-start"
            alt="effetti basso">
          <div class="card-title pe-3 fw-bold fs-5">Effetti</div>
        </div>
      </div>

    </div>

    <!-------------------------------------------------------------------------SEZIONE BATTERIE------------------------------------------------------------------------------------->
    <div *ngIf="path=='batterie'">

      <div class="container d-flex justify-content-center">
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item puntatore_link">
              <div routerLink="/">Home</div>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Batterie</li>
          </ul>
        </nav>
      </div>
      <h1 class="text-center">BATTERIE</h1>
      <div class="row d-flex justify-content-center">
        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/batterie/batterie_acustiche">
          <img src="../../../assets/immagini categorie/categoria_batterie/batterie_acustiche.jpg" class="card-img-start"
            alt="batterie acustiche">
          <div class="card-title pe-3 fw-bold fs-5">Batterie Acustiche</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/batterie/batterie_elettroniche">
          <img src="../../../assets/immagini categorie/categoria_batterie/batterie_elettroniche.jpg"
            class="card-img-start" alt="batterie elettroniche">
          <div class="card-title pe-3 fw-bold fs-5">Batterie Elettroniche</div>
        </div>

      </div>

    </div>

    <!-------------------------------------------------------------------------SEZIONE TASTIERE------------------------------------------------------------------------------------->
    <div *ngIf="path=='tastiere'">

      <div class="container d-flex justify-content-center">
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item puntatore_link">
              <div routerLink="/">Home</div>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Tastiere</li>
          </ul>
        </nav>
      </div>
      <h1 class="text-center">TASTIERE</h1>
      <div class="row d-flex justify-content-center">
        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/tastiere/tastiere">
          <img src="../../../assets/immagini categorie/categoria_tastiere/tastiere.jpg" class="card-img-start"
            alt="tastiere">
          <div class="card-title pe-3 fw-bold fs-5">Tastiere</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/tastiere/piani">
          <img src="../../../assets/immagini categorie/categoria_tastiere/piani.jpg" class="card-img-start" alt="piani">
          <div class="card-title pe-3 fw-bold fs-5">Piani</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/tastiere/pianoforti">
          <img src="../../../assets/immagini categorie/categoria_tastiere/pianoforti.jpg" class="card-img-start"
            alt="pianoforti">
          <div class="card-title pe-3 fw-bold fs-5">Pianoforti</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/tastiere/piani_elettrici">
          <img src="../../../assets/immagini categorie/categoria_tastiere/piani_elettrici.jpg" class="card-img-start"
            alt="piani elettrici">
          <div class="card-title pe-3 fw-bold fs-5">Piani Elettrici</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2 puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/tastiere/amplificazione_tastiere">
          <img src="../../../assets/immagini categorie/categoria_tastiere/amplificazione_tastiere.jpg"
            class="card-img-start" alt="amplificazione tastiere">
          <div class="card-title pe-3 fw-bold fs-5">Amplificazione Tastiere</div>
        </div>
      </div>

    </div>

    <!-------------------------------------------------------------------------SEZIONE MICROFONI------------------------------------------------------------------------------------->
    <div *ngIf="path=='microfoni'">

      <div class="container d-flex justify-content-center">
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item puntatore_link">
              <div routerLink="/">Home</div>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Microfoni</li>
          </ul>
        </nav>
      </div>
      <h1 class="text-center">MICROFONI</h1>
      <div class="row d-flex justify-content-center">

        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/microfoni/microfoni_dinamici">
          <img src="../../../assets/immagini categorie/categoria_microfoni/microfoni_dinamici.jpg"
            class="card-img-start" alt="microfoni dinamici">
          <div class="card-title pe-3 fw-bold fs-5">Microfoni Dinamici</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/microfoni/microfoni_a_condensatore">
          <img src="../../../assets/immagini categorie/categoria_microfoni/microfoni_a_condensatore.jpg"
            class="card-img-start" alt="microfoni a condensatore">
          <div class="card-title pe-3 fw-bold fs-5">Microfoni A Condensatore</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/microfoni/microfoni_a_nastro">
          <img src="../../../assets/immagini categorie/categoria_microfoni/microfoni_a_nastro.jpg"
            class="card-img-start" alt="microfoni a nastro">
          <div class="card-title pe-3 fw-bold fs-5">Microfoni A Nastro</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/microfoni/microfoni_broadcast">
          <img src="../../../assets/immagini categorie/categoria_microfoni/microfoni_broadcast.jpg"
            class="card-img-start" alt="microfoni broadcast">
          <div class="card-title pe-3 fw-bold fs-5">Microfoni Broadcast</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2 puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/microfoni/microfoni_ad_archetto">
          <img src="../../../assets/immagini categorie/categoria_microfoni/microfoni_ad_archetto.jpg"
            class="card-img-start" alt="microfoni ad archetto">
          <div class="card-title pe-3 fw-bold fs-5">Microfoni Ad Archetto</div>
        </div>
      </div>

    </div>

    <!-------------------------------------------------------------------------SEZIONE LUCI------------------------------------------------------------------------------------->
    <div *ngIf="path=='luci'">

      <div class="container d-flex justify-content-center">
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item puntatore_link">
              <div routerLink="/">Home</div>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Luci</li>
          </ul>
        </nav>
      </div>
      <h1 class="text-center">LUCI</h1>
      <div class="row d-flex justify-content-center">

        <div
          class="col-12 col-sm-6 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/luci/luci_mobili">
          <img src="../../../assets/immagini categorie/categoria_luci/luci_mobili.jpg"
            class="card-img-start" alt="luci mobili">
          <div class="card-title pe-3 fw-bold fs-5">Luci Mobili</div>
        </div>

        <div
          class="col-12 col-sm-6 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/luci/luci_teatrali">
          <img src="../../../assets/immagini categorie/categoria_luci/luci_teatrali.jpg"
            class="card-img-start" alt="luci teatrali">
          <div class="card-title pe-3 fw-bold fs-5">Luci Teatrali</div>
        </div>

        <div
          class="col-12 col-sm-6 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/luci/strobo">
          <img src="../../../assets/immagini categorie/categoria_luci/strobo.jpg"
            class="card-img-start" alt="strobo">
          <div class="card-title pe-3 fw-bold fs-5">Strobo</div>
        </div>

        <div
          class="col-12 col-sm-6 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/luci/lasers">
          <img src="../../../assets/immagini categorie/categoria_luci/lasers.jpg"
            class="card-img-start" alt="lasers">
          <div class="card-title pe-3 fw-bold fs-5">Lasers</div>
        </div>

      </div>

    </div>

  </div>
</div>
