<div class="mx-5 my-5 altezza">
  <div class="row d-flex justify-content-center">

  <form class="col-12 px-2 py-2 bordo col-sm-8 col-md-6 col-lg-5 d-flex flex-column needs-validation justify-content-center" #f="ngForm" (ngSubmit)=onSubmit(f)>

    <h2 class="text-center">Login</h2>

    <div class="justify-content-center">
      <label for="inputSurname2" class="form-label"></label>
      <input type="text" class="form-control" placeholder="email" name="email" ngModel>
    </div>

    <div class="justify-content-center mb-3">
      <label for="inputPassword5" class="form-label"></label>
      <input type="password" class="form-control" placeholder="password" name="password" ngModel>
    </div>

    <div class="d-flex flex-column">
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mx-auto bottone mb-2" id="button_login">Login</button>
      </div>
      <div class="d-flex justify-content-center flex-column text-center">
        Nuovo nel sito?
        <a routerLink="../../auth/signup">Register</a>
      </div>
    </div>

  </form>
</div>
</div>
