#logo_pagina {
  //width: 200px;
  width: 150px;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  @media screen and (min-width:992px) {
    width: 200px !important;
  }
}

.sfondo_navbar {
  background-color: #f3f3f3 !important;
}

.scelte {
  &:hover {
    cursor: pointer !important;
    background-color: #f3f3f3 !important;
  }
}

.search {
  width: 100% !important;
  border-radius: 15px !important;
  border: none !important;
  background-color: white;
}

.search_vera {
  width: 100% !important;
  border-radius: 15px !important;
  border: none !important;
  background-color: #f3f3f3;
}

.bianco {
  background-color: white !important;
}

.nav-pills {
  a {
    color: white;
  }

  li {
    a.active {
      background-color: #1c1c1c !important;
    }

  }
}

.hover_viola:hover {
  //background-color: #6009b0 !important;
  //background-color: #9425fc;
  //background:linear-gradient(225deg,#2c79c7,#62aefa);
  //background:radial-gradient(#2c79c7,#62aefa);

  border: none;
  border-radius: 5px;
  cursor: pointer !important;
  background: linear-gradient(45deg, #73e3ff,#ec69fe );

  // @media (prefers-color-scheme: light) {
  //   background: linear-gradient(45deg, #73e3ff,#ec69fe );
  // }

  // @media (prefers-color-scheme: dark) {
  //   background: linear-gradient(45deg, #dc0002,#050000 );
  // }
}



.active {
  background-color: #9425fc !important;
}

#icona_user,
#icona_preferiti,
#icona_carrello {

  //stroke:black
  padding: 5px;
  color: black;

  // @media (prefers-color-scheme: light) {
  //   color: black;
  // }

  // @media (prefers-color-scheme: dark) {
  //  color: white;
  // }
}

#logout {
  background: linear-gradient(45deg, #73e3ff,#ec69fe );
  border: none;
  border-radius: 5px;
  color: white;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.no_hover{
  cursor: default;
}

#carrello{
position: relative;
}

#notifiche{
position:absolute;
top: -5px;
right:-5px;
background-color: #9425fc !important;
}
