<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid flex-column">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav nav-pills red mx-auto mb-2 mb-lg-0 d-flex align-items-center ">

        <li class="nav-item">
          <a class="nav-link hover_viola"routerLink="login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item mx-5">
          <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="attivo" [routerLinkActiveOptions]="{exact:true}"><img src="../../../assets/gavioli-low-resolution-logo-color-on-transparent-background.png" alt="logo_gavioli" id="logo_pagina"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link hover_viola"routerLink="signup" routerLinkActive="active">Signup</a>
        </li>
      </ul>

    </div>
    <form class="d-flex mx-auto col-lg-3" role="search">
      <input class="form-control me-3 pe-5 rounded-pill" type="search" placeholder="Ricerca" aria-label="Search">
    </form>
  </div>
</nav>
