a{
  text-decoration: none;
  color: rgb(4, 101, 192);
  &:hover{
    color:#ec69fe;
  }
}

h2,div:hover{
  cursor: default;
}

.altezza{
  /*position: relative;
  padding-bottom: 10rem;*/
  position: relative;
  padding-bottom: 24rem !important;
  @media screen and (min-width:390px) {
    padding-bottom: 22rem !important;
  }
  @media screen and (min-width:576px) {
    padding-bottom: 15rem !important;
  }
  @media screen and (min-width:768px) {
    padding-bottom: 10rem !important;
  }
}

.bordo{
  border: 3px solid;
  border-radius: 5px;

    border-image: linear-gradient(45deg, #73e3ff, #ec69fe) 1;

}

.bottone{
  background-image:linear-gradient(45deg, #73e3ff, #ec69fe) ;
  color:black;
  border: none;
}

.bottone:hover{
  transition: transform 0.2s;
  cursor: pointer;
  transform: scale(1.05);
}
