<div class="d-flex justify-content-center altezza_terza">

  <div class="container mt-3 mx-lg-5">

    <!-----------------------------------------------------------------------------SEZIONE CORDE CHITARRE ELETTRICHE--------------------------------------------------------------------------------------------------->
    <div *ngIf="path=='corde_chitarra_elettrica'">

      <div class="container d-flex justify-content-center ">
        <nav aria-label="breadcrumb d-flex align-items-center">
          <ul class="breadcrumb">
            <li class="breadcrumb-item puntatore_link">
              <div routerLink="/">Home</div>
            </li>
            <li class="breadcrumb-item puntatore_link">
              <div class="d-flex" routerLink="/chitarre">Chitarre</div>
            </li>
            <li class="breadcrumb-item puntatore_link">
              <div class="d-flex" routerLink="/chitarre/corde">Corde</div>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Corde Chitarre Elettriche</li>
          </ul>
        </nav>
      </div>
      <h1 class="text-center">CORDE CHITARRE ELETTRICHE</h1>
      <div class="row d-flex justify-content-center">

        <div
          class="col-12 col-sm-6 col-lg-5 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/chitarre/corde/corde_elettrica/008">
          <img src="../../../assets/immagini categorie/categoria_chitarre/corde/corde_elettrica/corde_008.jpg"
            class="card-img-start" alt="corde elettrica 008">
          <div class="card-title pe-3 fw-bold fs-5">Corde 008</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-5 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/chitarre/corde/corde_elettrica/009">
          <img src="../../../assets/immagini categorie/categoria_chitarre/corde/corde_elettrica/corde_009.jpg"
            class="card-img-start" alt="corde elettrica 009">
          <div class="card-title pe-3 fw-bold fs-5">Corde 009</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-5 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/chitarre/corde/corde_elettrica/010">
          <img src="../../../assets/immagini categorie/categoria_chitarre/corde/corde_elettrica/corde_010.jpg"
            class="card-img-start" alt="corde elettrica 010">
          <div class="card-title pe-3 fw-bold fs-5">Corde 010</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-5 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/chitarre/corde/corde_elettrica/011">
          <img src="../../../assets/immagini categorie/categoria_chitarre/corde/corde_elettrica/corde_011.jpg"
            class="card-img-start" alt="corde elettrica 011">
          <div class="card-title pe-3 fw-bold fs-5">Corde 011</div>
        </div>

      </div>

    </div>

    <!-----------------------------------------------------------------------------SEZIONE CORDE CHITARRE CLASSICHE--------------------------------------------------------------------------------------------------->
    <div *ngIf="path=='corde_chitarra_classica'">


      <div class="container d-flex justify-content-center ">
        <nav aria-label="breadcrumb d-flex align-items-center">
          <ul class="breadcrumb">
            <li class="breadcrumb-item puntatore_link">
              <div routerLink="/">Home</div>
            </li>
            <li class="breadcrumb-item puntatore_link">
              <div class="d-flex" routerLink="/chitarre">Chitarre</div>
            </li>
            <li class="breadcrumb-item puntatore_link">
              <div class="d-flex" routerLink="/chitarre/corde">Corde</div>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Corde Chitarre Classiche</li>
          </ul>
        </nav>
      </div>
      <h1 class="text-center">CORDE CHITARRE CLASSICHE</h1>
      <div class="row d-flex justify-content-center">

        <div
          class="col-12 col-sm-6 col-lg-5 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/chitarre/corde/corde_classica/standard">
          <img src="../../../assets/immagini categorie/categoria_chitarre/corde/corde_classica/corde_standard.jpg"
            class="card-img-start" alt="corde elettrica 010">
          <div class="card-title pe-3 fw-bold fs-5">Corde Standard</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-5 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/chitarre/corde/corde_classica/carbonio">
          <img src="../../../assets/immagini categorie/categoria_chitarre/corde/corde_classica/corde_di_carbonio.jpg"
            class="card-img-start" alt="corde elettrica 011">
          <div class="card-title pe-3 fw-bold fs-5">Corde Di Carbonio</div>
        </div>

      </div>

    </div>

    <!-----------------------------------------------------------------------------SEZIONE CORDE CHITARRE ACUSTICHE--------------------------------------------------------------------------------------------------->
    <div *ngIf="path=='corde_chitarra_acustica'">

      <div class="container d-flex justify-content-center ">
        <nav aria-label="breadcrumb d-flex align-items-center">
          <ul class="breadcrumb">
            <li class="breadcrumb-item puntatore_link">
              <div routerLink="/">Home</div>
            </li>
            <li class="breadcrumb-item puntatore_link">
              <div class="d-flex" routerLink="/chitarre">Chitarre</div>
            </li>
            <li class="breadcrumb-item puntatore_link">
              <div class="d-flex" routerLink="/chitarre/corde">Corde</div>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Corde Chitarre Acustice</li>
          </ul>
        </nav>
      </div>
      <h1 class="text-center">CORDE CHITARRE ACUSTICHE</h1>
      <div class="row d-flex justify-content-center">

        <div
          class="col-12 col-sm-6 col-lg-5 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/chitarre/corde/corde_acustica/010">
          <img src="../../../assets/immagini categorie/categoria_chitarre/corde/corde_acustica/corde-acustica_010.jpg"
            class="card-img-start" alt="corde elettrica 010">
          <div class="card-title pe-3 fw-bold fs-5">Corde 010</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-5 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/chitarre/corde/corde_acustica/011">
          <img src="../../../assets/immagini categorie/categoria_chitarre/corde/corde_acustica/corde_acustica_011.jpg"
            class="card-img-start" alt="corde elettrica 011">
          <div class="card-title pe-3 fw-bold fs-5">Corde 011</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-5 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/chitarre/corde/corde_acustica/012">
          <img src="../../../assets/immagini categorie/categoria_chitarre/corde/corde_acustica/corde_acustica_012.jpg"
            class="card-img-start" alt="corde elettrica 012">
          <div class="card-title pe-3 fw-bold fs-5">Corde 012</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-5 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/chitarre/corde/corde_acustica/013">
          <img src="../../../assets/immagini categorie/categoria_chitarre/corde/corde_acustica/corde_acustica_013.jpg"
            class="card-img-start" alt="corde elettrica 013">
          <div class="card-title pe-3 fw-bold fs-5">Corde 013</div>
        </div>

      </div>
    </div>

    <!------------------------------------------------------------------------------SEZIONE CORDE BASSI ELETTRICI----------------------------------------------------------------------------------------------------->
    <div *ngIf="path=='corde_basso_elettrico'">

      <div class="container d-flex justify-content-center ">
        <nav aria-label="breadcrumb d-flex align-items-center">
          <ul class="breadcrumb">
            <li class="breadcrumb-item puntatore_link">
              <div routerLink="/">Home</div>
            </li>
            <li class="breadcrumb-item puntatore_link">
              <div class="d-flex" routerLink="/bassi">Bassi</div>
            </li>
            <li class="breadcrumb-item puntatore_link">
              <div class="d-flex" routerLink="/bassi/corde">Corde</div>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Corde Bassi Elettrici</li>
          </ul>
        </nav>
      </div>
      <h1 class="text-center">CORDE BASSI ELETTRICI</h1>
      <div class="row d-flex justify-content-center">

        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/bassi/corde/corde_basso_elettrico/040">
          <img src="../../../assets/immagini categorie/categoria_bassi/corde/corde_basso_elettrico/corde_040_elettrico.jpg"
            class="card-img-start" alt="corde basso elettrico 040">
          <div class="card-title pe-3 fw-bold fs-5">Corde 040</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/bassi/corde/corde_basso_elettrico/045">
          <img src="../../../assets/immagini categorie/categoria_bassi/corde/corde_basso_elettrico/corde_045_elettrico.jpg"
            class="card-img-start" alt="corde basso elettrico 045">
          <div class="card-title pe-3 fw-bold fs-5">Corde 045</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/bassi/corde/corde_basso_elettrico/050">
          <img src="../../../assets/immagini categorie/categoria_bassi/corde/corde_basso_elettrico/corde-050_elettrico.jpg"
            class="card-img-start" alt="corde basso elettrico 050">
          <div class="card-title pe-3 fw-bold fs-5">Corde 050</div>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
          routerLink="/bassi/corde/corde_basso_elettrico/040_5_corde">
          <img src="../../../assets/immagini categorie/categoria_bassi/corde/corde_basso_elettrico/corde_040_elettrico_5-corde.jpg"
            class="card-img-start" alt="corde basso elettrico 5 corde 040">
          <div class="card-title pe-3 fw-bold fs-5">Corde 040 Basso 5 Corde</div>
        </div>

        <div
        class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center mx-auto mx-md-0 mb-2 mt-2  puntatore_link justify-content-center bordo_destro_variabile_1 hover_viola "
        routerLink="/bassi/corde/corde_basso_elettrico/045_5_corde">
        <img src="../../../assets/immagini categorie/categoria_bassi/corde/corde_basso_elettrico/corde_045_elettrico_5-corde.jpg"
          class="card-img-start" alt="corde basso elettrico 5 corde 045">
        <div class="card-title pe-3 fw-bold fs-5">Corde 045 Basso 5 Corde</div>
      </div>

      </div>

    </div>

  </div>
</div>
